__pycache__/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Environments
.venv
venv/

# Saved files
/data/